.container {
  display: grid;
  grid-template-rows: 3rem calc(100vh - 3rem);
}

.exchangeContainer {
  display: grid;
  grid-template-areas:
    'chart chart   orderboook trades'
    'panel panel   order      order';

  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: auto 16.5rem;
  grid-gap: 0.5rem;
}
